@import '_variables.scss'; // importando variáveis

@mixin text-color($color) {
    /* definindo a cor do texto */
    color: $color; 
}

@mixin background-color($color) {
    /* definindo a cor de fundo */
    background-color: $color;
}

@mixin border-color($color) {
    /* definindo a cor da borda */
    border-color: $color;
}

