// Light Mode Pallete
$light-primary-blue: #1E3A8A;
$light-light-blue: #60A5FA;
$light-dark-blue: #1E40AF;
$light-accent-blue: #3B82F6;
$light-light-gray: #F3F4F6;
$light-dark-gray: #4B5563;
$light-white: #FFFFFF;
$light-text-color: #1F2937;

// Dark Mode Pallete
$dark-primary-blue: #1E3A8A;
$dark-light-blue: #60A5FA;
$dark-dark-blue: #1E40AF;
$dark-accent-blue: #3B82F6;
$dark-dark-gray: #1F2937;
$dark-medium-gray: #374151;
$dark-light-gray: #9CA3AF;
$dark-background-color: #111827;
$dark-text-color: #E5E7EB;
